a
{color: black !important;

	} 

.text-primary {
  color: #024b5c !important;
  }

.bg-primary{
background-color: #024b5c !important;	
}

.social-icons .social-icon:hover{
	background-color: blue !important;
}

.svg-inline--fa {
	color: white !important;
    overflow: visible;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.fa-li {
    color: black !important;
}

