a{color: black !important;

	} 
.text-primary {
  color: #024b5c !important;
  }
.bg-primary{
background-color: #024b5c !important;	
}
.social-icons .social-icon:hover{
	background-color: white !important;
}
.social-icons-primary{
	background-color: white !important;
}
a.i{
color: white !important;
}
